// add base styles here

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Rubik', sans-serif;
}

header,
header a {
	color: #FFFFFF;
}

header a:hover {
	color: #A7FFEB;
}

.logo {
	min-width: 3rem;
}

nav > ul {
	list-style: none;
	padding-left: 0;
}

.third {
	flex: 1 0 33.33333%;
}

.social-items {
	font-size: 1.5rem;
}

.container-narrow {
	max-width: 50rem;
	margin: 0 auto;
}

.main {
	flex: 1 0 75%;
}

aside {
	height: 100vh;
	position: sticky;
	top: 0;
	flex: 1 0 25%;
}

.form-container {
  position: relative;
  padding-bottom: 175%;
  height: 0;
  overflow: hidden;
}

.form-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media only screen and (min-width: 544px) {
	.form-container{
		padding-bottom: 150%;
	}

}


@media only screen and (min-width: 768px) {
	.form-container{
		padding-bottom: 120%;
	}
}

// @media only screen and (min-width: 992px) {
// 	.form-container{
// 		padding-bottom: 120%;
// 	}
// }

@media  only screen and  (min-width: 1200px) {
	.form-container{
		padding-bottom: 100%;
	}
}
